footer.footer
    .container.container--narrow
        .footer-inner
            .footer-top 
                .footer-top__left
                    .footer-copyright
                        p.footer-copyright__year © 2018-2021 GGDROP
                        p Лучший опенкейс CS:GO
                    ul.footer-menu  
                        li.footer-menu__item 
                            a.footer-menu__link(href="#") 
                                | Пользовательское соглашение
                        li.footer-menu__item 
                            a.footer-menu__link(href="#") 
                                | Соглашение о приватности
                        li.footer-menu__item 
                            a.footer-menu__link(href="#") 
                                | Контакты
                        li.footer-menu__item 
                            a.footer-menu__link(href="#") 
                                | FAQ
                .footer-top__right
                    .footer-features 
                        ul.footer-features__list 
                            li.footer-features__item.footer-features__item--cases
                                p.footer-features__count 
                                    | 431 182 539
                                p.footer-features__title
                                    | Открыто кейсов
                            
                            li.footer-features__item.footer-features__item--players
                                p.footer-features__count 
                                    | 3 725 362
                                p.footer-features__title
                                    | Игроков

                            li.footer-features__item.footer-features__item--contracts
                                p.footer-features__count 
                                    | 5 626 767
                                p.footer-features__title
                                    | Контрактов

                            li.footer-features__item.footer-features__item--upgrades
                                p.footer-features__count 
                                    | 3 182 539
                                p.footer-features__title
                                    | Апргрейдов

            .footer-bottom 
                a.btn-coop(href="#")
                    | Сотрудничество

                include ./social

                .footer-info 
                    a.footer-info__email(href="mailto:support@ggdrop.com")
                        | support@ggdrop.com

                    p.footer-info__text 
                        | ITSFAIL LTD: Company number 13246765, 16 John Nicholas Crescent, Ellesmere Port, Cheshire, United Kingdom, CH65 2DL, +44 07308278693.