.langs
    // langs__btn--active - класс для активной кнопки
    button.langs__btn
        span.langs__item.langs__item--en
            | en
    //
        ul.langs__list 
            li.langs__list-item
                span.langs__item.langs__item--en
                    | en
            li.langs__list-item
                span.langs__item.langs__item--en
                    | en
            li.langs__list-item
                span.langs__item.langs__item--en
                    | en
            li.langs__list-item
                span.langs__item.langs__item--en
                    | en
    