nav 
    ul.main-menu    
        li.main-menu__item 
            a.main-menu__link.active(href="#")
                svg.main-menu__icon     
                    use(xlink:href="img/sprite.svg#icon-faq")
                span.main-menu__title
                    | F.A.Q

        li.main-menu__item 
                a.main-menu__link(href="#")
                    svg.main-menu__icon     
                        use(xlink:href="img/sprite.svg#icon-upgrades")
                    span.main-menu__title
                        | Upgrade
                    span.main-menu__label 
                        | NEW
        
        li.main-menu__item 
            a.main-menu__link(href="#")
                svg.main-menu__icon     
                    use(xlink:href="img/sprite.svg#icon-contacts")
                span.main-menu__title
                    | Contracts

        li.main-menu__item 
            a.main-menu__link(href="#")
                svg.main-menu__icon     
                    use(xlink:href="img/sprite.svg#icon-battles")
                span.main-menu__title
                    | Battles
