.user-info-row
    a.use-info-notif.btn-icon.btn-icon--big(href="#")
        svg.btn-icon__image 
            use(xlink:href="img/sprite.svg#notification")
        span.btn-icon__notice
            | 0

    .user-info
        .user-info__icon
            img(src="img/user-icon.png")
        p.user-info__name 
            | Marshmello
        p.user-info__balans 
            | 306.30 ла

    a.user-info-refill.btn-icon.btn-icon--text.btn-icon--big(href="#")
        span.btn-icon__text 
            | Refill
        svg.btn-icon__image 
            use(xlink:href="img/sprite.svg#refill")

    a.user-info-exit.btn-icon.btn-icon--big(href="#")
        svg.btn-icon__image 
            use(xlink:href="img/sprite.svg#exit")
